In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [19]:
df=pd.read_csv('house_prices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [21]:
import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [22]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)

In [23]:
reg=linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [25]:
while True:
    try:
        x=float(input('Enter the area in sqft, you want to predict the expected price for: '))
        y=float(input('Enter the bedroom size, you want to predict the expected price for: '))
        z=float(input('Enter the age for house, you want to predict the expected price for: '))
        print('Expected price: ', '$'+str(reg.predict([[x, y, z]]))[1:-1], end='\nThanks\n\n')
    except:
        print('Invalid value entered')
        break

Enter the area in sqft, you want to predict the expected price for: 2300
Enter the bedroom size, you want to predict the expected price for: 12
Enter the age for house, you want to predict the expected price for: 13
Expected price:  $298375.
Thanks

Enter the area in sqft, you want to predict the expected price for: t
Invalid value entered